In [6]:
from azureml.core import Workspace, Datastore, Dataset

In [7]:
ws = Workspace.from_config()

In [3]:
#create a datastore
az_store = Datastore.register_azure_blob_container(
    workspace=ws,
    datastore_name="azure_sdk_nse_blob",
    account_name="nseblob",
    container_name="gold", 
    account_key="thGD5YyuxbxT+v9VM8dyKGCkVaQXBugFA7xFARaZJ5PgaYCs1w1sBZyga8gEh0ERsD80+oIkTpgq+AStmna9IQ=="
)

In [4]:
az_store = Datastore.get(ws, "azure_sdk_nse_blob")

In [ ]:
nse_store_ = Datastore.get(ws, "nsemldatastore")

In [9]:
csv_path = [(az_store, "final_nse.csv")]
stock_dataset = Dataset.Tabular.from_delimited_files(path=csv_path)
stock_dataset = stock_dataset.register(workspace=ws, name="stocks_data", create_new_version=True)

In [10]:
df = stock_dataset.to_pandas_dataframe()
df.head()

{'infer_column_types': 'False', 'activity': 'to_pandas_dataframe'}
{'infer_column_types': 'False', 'activity': 'to_pandas_dataframe', 'activityApp': 'TabularDataset'}

,"{""added"":[""part-00000-tid-2851762277807613748-64d9a1d8-4638-45d7-a238-b7156ef5e6ff-53-1-c000.csv""",part-00001-tid-2851762277807613748-64d9a1d8-4638-45d7-a238-b7156ef5e6ff-54-1-c000.csv,part-00002-tid-2851762277807613748-64d9a1d8-4638-45d7-a238-b7156ef5e6ff-55-1-c000.csv,part-00003-tid-2851762277807613748-64d9a1d8-4638-45d7-a238-b7156ef5e6ff-56-1-c000.csv],removed:[]},Column6,Column7
0,2022-01-06,2230.428711,3807.449951,1539.750000,-0.021736,-0.013954,-0.016170
1,2022-01-07,2248.427246,3853.500000,1550.550049,0.008037,0.012022,0.006990
2,2022-01-10,2250.273193,3879.850098,1559.150024,0.000821,0.006815,0.005531
3,2022-01-11,2266.471924,3915.899902,1565.900024,0.007173,0.009249,0.004320
4,2022-01-12,2326.974365,3859.899902,1556.650024,0.026344,-0.014404,-0.005925

In [13]:

df.columns = ['Date', 'Reliance', 'TCS', 'HDFC_BANK', 'Reliance_log', 'TCS_logs', 'HDFC_logs']
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          615 non-null    datetime64[ns]
 1   Reliance      615 non-null    float64
 2   TCS           615 non-null    float64
 3   HDFC_BANK     615 non-null    float64
 4   Reliance_log  615 non-null    float64
 5   TCS_logs      615 non-null    float64
 6   HDFC_logs     615 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 33.8 KB

In [14]:
df.head()

,Date,Reliance,TCS,HDFC_BANK,Reliance_log,TCS_logs,HDFC_logs
0,2022-01-06,2230.428711,3807.449951,1539.750000,-0.021736,-0.013954,-0.016170
1,2022-01-07,2248.427246,3853.500000,1550.550049,0.008037,0.012022,0.006990
2,2022-01-10,2250.273193,3879.850098,1559.150024,0.000821,0.006815,0.005531
3,2022-01-11,2266.471924,3915.899902,1565.900024,0.007173,0.009249,0.004320
4,2022-01-12,2326.974365,3859.899902,1556.650024,0.026344,-0.014404,-0.005925

In [18]:
az_ds_from_df = Dataset.Tabular.register_pandas_dataframe(
    dataframe=df,
    target=az_store,
    name="stock_dataset_dataframe",
    show_progress=True,
    description="Stock dataset uploaded as CSV",
     # Ensure it's saved as CSV instead of Parquet
)

Validating arguments.
Arguments validated.
Validating arguments.
Arguments validated.
'overwrite' is set to True. Any file already present in the target will be overwritten.
Uploading files from '/var/folders/wr/t5xf55zd25nb7nlgf18884580000gn/T/tmpwxlka0ue' to 'managed-dataset/c3328029-3b4e-4034-9726-a45cdaf67b61/'
Copying 1 files with concurrency set to 1
Copied /var/folders/wr/t5xf55zd25nb7nlgf18884580000gn/T/tmpwxlka0ue/dataframe.parquet, file 1 out of 1. Destination path: https://nseblob.blob.core.windows.net/gold/managed-dataset/c3328029-3b4e-4034-9726-a45cdaf67b61/dataframe.parquet
Files copied=1, skipped=0, failed=0
Successfully uploaded file to datastore.
Creating and registering a new dataset.
Successfully created and registered a new dataset.

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          615 non-null    datetime64[ns]
 1   Reliance      615 non-null    float64
 2   TCS           615 non-null    float64
 3   HDFC_BANK     615 non-null    float64
 4   Reliance_log  615 non-null    float64
 5   TCS_logs      615 non-null    float64
 6   HDFC_logs     615 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 33.8 KB

In [21]:
#nse_dataset = Dataset.get_by_name(ws, "nse_dataasset")
store_list = list(ws.datastores)

In [22]:
print(store_list)

['azure_sdk_nse_blob', 'azureml_globaldatasets', 'nsemldatastore', 'workspaceworkingdirectory', 'workspaceartifactstore', 'workspacefilestore', 'workspaceblobstore']

In [23]:
ds_list = list(ws.datasets.keys())
for items in ds_list:
    print(items)

stock_dataset_dataframe
stocks_data

In [31]:
file_list = ['./data/stocks_data.csv']
az_store.upload_files(files=file_list,
                      target_path='',
                      relative_root='',
                      overwrite=True)

Uploading an estimated of 1 files
Uploading ./data/stocks_data.csv
Uploaded ./data/stocks_data.csv, 1 files out of an estimated total of 1
Uploaded 1 files

$AZUREML_DATAREFERENCE_azure_sdk_nse_blob

In [32]:
csv_path = [(az_store, "stocks_data.csv")]
final_dataset = Dataset.Tabular.from_delimited_files(path=csv_path)
final_dataset = final_dataset.register(workspace=ws, name="final_data_stocks", create_new_version=True)